<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mors_style.css">
    <title>Morse Code Translater</title>
</head>
<body>
    <img src="../static/mors_bg.jpeg">
    <div class="jumbotron" style="align-content:space-between;">
        <form action="{{url_for('mors')}}" method="post">
            <h1>Translate to Morse Code</h1>
            <textarea name="message" cols="50" rows="10" placeholder="Type your message here..."></textarea>
            <br>
            <button type="submit">Translate</button>
            <br>
            <strong><textarea name="translation" id="translate" cols="50" rows="10">{{mors}}</textarea></strong>
        </form>
            
    </div>
</body>
</html>